* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app {
  margin-top: 80px;
  /* color: white; */
}
.sectionWrapper {
  padding: 20px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightslategrey;
  min-height: 40vh;
}
/* h1,h2,h3,h4,h5,h6 {
  color: orange;
} */

.aboutInformation {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.aboutInformation h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: #333;
}

.aboutInformation h2 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: #286772;
}

.aboutInformation p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 16px;
  /* color: #555; */
}

.aboutInformation ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.aboutInformation ul li {
  margin-bottom: 8px;
}

.aboutInformation strong {
  color: #000;
}

.comparisonTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
}

.comparisonTable th,
.comparisonTable td {
  border: 1px solid rgb(67, 61, 61);
  padding: 8px;
  text-align: left;
}

.comparisonTable th {
  background-color: black;
  color: white;
  text-align: center;
}

.comparisonTable tr:hover {
  background-color: whitesmoke;
}

.courseWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  gap: 32px;
}
.courseDetail {
  width: 90%;
}
.iconWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.card img {
  width: 15rem;
}
.contactWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 80%;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  gap: 10px;
  width: 80%;
}
.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.errorWrapper {
  text-align: center;
  width: 90%;
}
.errorWrapper img {
  width: 100%;
  height: 80vh;
  mix-blend-mode: darken;
}
.errorWrapper .btnWrappers button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 32px;
  background-color: silver;
  /* margin-bottom: 16px; */
  position: fixed;
  /* width: 100%; */
  top: 0;
  left: 0;
  height: 80px;
  z-index: 1000;
  right: 0;
}
/*  */
.footerWrapper {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footerAbout,
.footerLinks,
.footerSocial {
  flex: 1;
  min-width: 200px; /* Ensure each section has a minimum width */
  margin: 10px;
  text-align: left;
}

.footerAbout h3,
.footerLinks h3,
.footerSocial h3 {
  margin-bottom: 10px;
  color: yellow;
}

.footerLinks ul,
.footerSocial ul {
  list-style: none;
  padding: 0;
}

.footerLinks li,
.footerSocial li {
  margin: 5px 0;
}

.footerLinks a,
.footerAbout p,
.footerSocial a {
  color: #9f9c9c;
  text-decoration: none;
}

.footerLinks a:hover,
.footerSocial a:hover {
  text-decoration: underline;
  color: lightgreen;
}

.footerBottom {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: orangered;
}

.navigationWrapper {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.navigationWrapper a {
  text-decoration: none;
  color: maroon;
  font-size: larger;
  font-weight: bolder;
}
.navigationWrapper a.active,
.btnGroup a.active {
  color: green;
}

.logo {
  width: 75px;
  mix-blend-mode: darken;
}
.personnelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 32px;
  padding: 0 32px;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  justify-content: space-around;
}
.personnelCard {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: whitesmoke;
}
.personWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.personCard {
  border: 1px solid;
  text-align: center;
  padding: 16px 32px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}
.btnWrapper {
  padding: 4px 10px;
  border: none;
  background-color: orange;
  /* border-radius: 3px; */
}
.btnWrappers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnWrappers button {
  padding: 4px 10px;
  border: none;
  background-color: orange;
  border-radius: 3px;
}
.pathWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  padding: 0 25px;
  gap: 10px;
}
.btnGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.btnGroup a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 4px 10px;
  border: none;
  background-color: black;
  border-radius: 3px;
}
.pathDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #507585;
  color: white;
  padding: 10px 25px;
  gap: 12px;
  width: 90%;
}
button[type="submit"] {
  text-align: center;
  margin: 10px auto;
  display: flex;
  background: orange;
  border: none;
  padding: 8px 10px;
  font-weight: 600;
  border-radius: 4px;
}
input[type="text"],
input[type="email"] {
  padding: 5px 0;
  margin-bottom: 20px;
  border: 1px solid;
  background-color: lightslategrey;
}
h1,
h2 {
  color: orange;
}
h3,
h4,
h5,
h6 {
  color: darkblue;
}
strong {
  color: yellowgreen;
}
.tableWrapper {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 20px;
    color: orange;
  }
  h3,
  h4,
  h5,
  h6 {
    color: darkblue;
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .sectionWrapper > div {
    overflow: auto;
  }

  .logo {
    display: none;
  }
  .app {
    margin-top: 0;
  }

  .navigationWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navWrapper {
    position: relative;
    height: 40px;
  }
  .navigationWrapper a {
    text-decoration: none;
    color: maroon;
    font-size: large;
    font-weight: bold;
  }
  .card img {
    width: 8rem;
  }
  .aboutInformation {
    width: 100%;
    padding: 0 10px;
    gap: 7px;
  }
  .personnelWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }
  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    align-items: center;
    justify-content: center;
  }
  .personnelCard {
    width: 40%;
  }
  .personnelCard h3 {
    font-size: small;
  }

  .pathWrapper {
    text-align: justify;
  }
  .pathDetail {
    width: 100%;
  }
  .contactWrapper {
    width: 80%;
  }
  .formWrapper {
    width: 100%;
    display: block;
  }
  .btnWrapper {
    font-size: 600;
  }
  .errorWrapper .btnWrappers button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .aboutInformation h1 {
    font-size: 22px;
  }

  .aboutInformation h2 {
    font-size: 20px;
  }

  .aboutInformation p {
    font-size: 15px;
    line-height: 1.3;
  }

  .tableWrapper {
    overflow-x: auto;
  }

  .comparisonTable {
    width: 100%;
    font-size: 14px;
  }

  .comparisonTable th,
  .comparisonTable td {
    padding: 6px;
  }
  .comparisonTable tr:hover {
    background-color: initial;
  }
}
